*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
}
body{
    background-color: #f4f4f4;
}
body header, main{
    max-width: 800px;
    margin: 0 auto;
}
body header{
    text-align: center;
    margin: 20px auto;
}
main{
    border-radius: 7px;
    box-shadow: 0px 0px 10px  #3333332d;
    padding: 20px;
}
main .add_tarefa{
    padding: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.add_tarefa div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.add_tarefa div:last-child{
    flex-direction: column;
    gap: 20px;
}
.add_tarefa div:last-child input,
button{
    width: 100%;
}
.add_tarefa input,
.add_tarefa button,
.add_tarefa select{
    flex-grow: 1;
    outline:none;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #f4f4f4;
}
.add_tarefa button{
    background-color: #6c63ff;
    color: black;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 10px  #33333362;
    flex-grow: 1;
}
.add_tarefa button:hover{
    transition: 0.7s;
    background-color: #524bd9;
}
.add_tarefa button:active{
    background-color: #6c63ff;
    padding: 7px 8px;
    transition: 0s;
}
main .tarefas{
    padding: 30px 5px;
    text-align: left;
}
.tarefas table{
    width: 100%;
    text-align: left;
    vertical-align: middle;
    border-collapse: collapse;
}
table thead th{
}
table thead tr,
table tbody tr{
    display: grid;
    grid-template-columns: 4% 43% 25% 20% 4% 4%;
    text-align: left;
    vertical-align: middle;
}
table tbody tr:nth-child(2n){
    background-color: #e9e9e9;
}
tr td {
    display: flex;
    align-items: center;
}